<form asp-action="Index">
    <p>
        <label>Hệ số A:</label>
        <input type="text" name="heSoA">
    </p>

    <p>
        <label>Hệ số B:</label>
        <input type="text" name="heSoB">
    </p>

    <p>
        <label>Hệ số C:</label>
        <input type="text" name="heSoC">
    </p>

    <p>
        <input type="submit" value="Giải phương trình">
    </p>
</form> 
<h2>@ViewBag.thongBao</h2>