
<h2>Nhập vào thông tin học sinh:</h2>
<form asp-action ="Index">
    <label>Enter Your ID:</label>
    <input type="number" name="StudentID">
    <br>
    <label>Enter Your Name:</label>
    <input type="text" name="StudentName">
    <br>
    <label>Enter Your Age:</label>
    <input type="number" name="StudentAge">
    <br>
    <input type="submit" value="Save">
</form>
<h2>@ViewBag.mess</h2> 