<h2>Danh sách sinh viên lớp THKT K64B</h2>
<hr>
<table class="table table-all">
    <tr>
        <th>
            <label>Mã sinh viên:</label>
        </th>

        <th>
            <label>Họ tên sinh viên:</label>
        </th>

        <th>
            <label>Tuổi:</label>
        </th>
    </tr>
    @foreach (var item in ViewData["StudentList"] as List<Student>)
    {
        <tr>
            <td>@item.StudentID</td>
            <td>@item.StudentName</td>
            <td>@item.StudentAge</td>
        </tr>

    }
</table>