<form asp-action="CapFirstCharacter">
    <label>Nhập chuỗi:</label>
    <input type="text" value="strInput">
    <br>
    <input type="submit" value="Xử lý">
</form>
<h2>@ViewBag.CapFirstCharacter</h2>